.about {
  height: 100%;
}

.main__about {
  list-style-type: none;
  font-size: medium;
  padding-top: 5px;
  line-height: 2rem;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.about--title {
  font-size: large;
  color: var(--cyan);
  margin: 5px;
  padding: 5px;
  padding-left: 0;
  margin-left: 0px;
}

.target--items_innerlist {
  margin-left: 20px;
}

.aboutpage__listitem {
  list-style: none;
}

.aboutpage__listitem::before {
  content: ">";
  color: var(--cyan);
  font-weight: bold;
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
}
.directors__about {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 20px;
}
.bod_image {
  font-size: small;
  opacity: 0.9;
}
