* {
  /* outline: 1px solid red; */
}
footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(13, 13, 17);
  color: whitesmoke;
  opacity: 1;
  padding: 30px;
  width: 100%;
}
.listitem__footer {
  padding: 4.5px;
  display: flex;
  opacity: 0.6;
  /* outline: 1px solid red; */
}
.listitem__footer > .listitem__footer__text {
  /* outline: 1px solid red; */
  align-self: center;
  bottom: 80px;
}
.title__footer {
  color: var(--cyan);
  font-size: 18px;

  padding: 4.5px;
}
.content__footer {
  display: flex;
  flex-direction: row;
  padding: 5px;
  padding-bottom: 5px;
  justify-content: space-between;

  flex-wrap: wrap;
}

.content_footer_item {
  margin: 5px;
  flex-basis: 200px;
}
.quick_links__footer {
  /* align-self: flex-end; */
}
.contacts__footer {
  left: -80px;
  top: -10px;
}
.social_media__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.social_media__footer__icons {
  display: flex;

  justify-content: enter;
}
.icons__footer {
  font-size: large;
  padding: 4.5px;
  color: var(--cyan);
  border-radius: 50%;
  font-size: 25px;
  margin: 2px;
  /* outline: 1px solid red; */
}
.icons__footer:hover {
  background-color: var(--cyan);
  color: whitesmoke;
}
.bottom__footer {
  padding-top: 5px;
  align-self: center;
  font-size: small;
  opacity: 0.85;
  font-weight: 0.8px;
}
.contact_us_footer {
  margin-left: 7px;
}
.linkedin__footer {
  border-radius: 3px;
}

.developer__link {
  padding-left: 2px;
  padding-right: 3px;
}
.footer_link {
  color: whitesmoke;
  opacity: 0.6;
  border: 1px solid transparent;
  width: auto;
}

.footer_link:hover {
  opacity: 1;
}
.developer__link:hover {
  color: var(--cyan);
}
.gulp-icon {
  color: red;
}
.react-icon {
  color: dodgerblue;
}
.sass-icon {
  color: pink;
}

.listitem__footer__text {
  font-size: medium;
}
.hr__footer {
  height: 0;
  border: 0;
  border-top: 1px solid #083972;
}
.builtByIcon {
  opacity: 0.6;
}
.builtByIcon:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
@media only screen and (max-width: 1000px) {
  .content__footer {
    flex-wrap: wrap;
  }
  .social_media__footer {
    margin-left: 2%;
  }
  .contacts__footer {
    margin-left: 1px;
  }
}
